@media only screen and (min-width:320px) and (max-width:479px) {   
    /* Banner Part (2nd Part) Media Query Start */
    .banner{
        height: 700px;
        padding-top: 20px;
    }
    .banner img{
        padding-top: 40px;
    }
    /* Banner Part (2nd Part) Media Query End */

    /* third Part Media Query Start */
    .third_part .box{
        margin-top: 30px;
    }
    /* third Part Media Query Start */

    /* Footer Part Media Query Start */
    .footer{
        height: 950px;
    }
    .footer p{
        text-align: center;
    }
    /* Footer Part Media Query End */
}
@media only screen and (min-width:480px) and  (max-width:767px) {
    /* Banner Part (2nd Part) Media Query Start */
    .banner{
        height: 700px;
        padding-top: 20px;
    }
    .banner img{
        padding-top: 40px;
    }
    /* Banner Part (2nd Part) Media Query End */

    /* third Part Media Query Start */
    .third_part .box{
        margin-top: 30px;
    }
    /* third Part Media Query Start */
    
    /* Footer Part Media Query Start */
    .footer{
        height: 950px;
    }
    .footer p{
        text-align: center;
    }
    /* Footer Part Media Query End */
}
@media only screen and (min-width:768px) and (max-width:990px){
    /* Footer Part Media Query Start */
    .footer{
        height: 350px;
    }
    /* Footer Part Media Query End */
}

@media only screen and (min-width:991px) and (max-width: 1199px) {
    /* Footer Part Media Query Start */
    .footer{
        height: 350px;
    }
    /* Footer Part Media Query End */
}
@media only screen and (min-width: 1200px) {

}


